<div class="">
  <div class="card">
      <div class="card-header">
        <h2>{{ faktura.dataWystawienia }}</h2>
        <div class="float-right">
            <a (click)="faktura.hide = !faktura.hide" href="#" class="btn btn-info">
                {{ faktura.hide ? 'Rozwin' : 'Hide'}}
              </a>
              <a href="#" (click)="removeTask(faktura)" class="btn btn-danger">
                Usun
              </a>
              <a href="#" class="btn btn-danger">
                Edytuj
              </a>
        </div>
      </div>
      <div class="card-body" [hidden]="faktura.hide">
        <p>{{ faktura.uwagi }}</p>
      </div>
  </div>
</div>